:root {
  --light-black: rgb(48, 48, 48);
  --pink: rgb(255, 81, 139)
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lavender;
}

/* //////////////////// navbar //////////////////// */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px 0px;
}

.logo-sec {
  width: 16%;
  padding: 0px 20px;
}

.logo-sec img {
  width: 100%;
}

.search-sec {
  width: 47%;
  display: flex;
  justify-content: center;
}

.search-sec input {
  width: 80%;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--light-black);
  outline: none;
  color: lavender
}

.search-sec button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
  background-color: white;
  border: 1px solid white;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.search-sec img {
  width: 20%;
  margin-right: 2px;
}

.login-sec {
  width: 30%;
}

.login-sec button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  font-weight: bold;
}

.login-sec button img {
  width: 12%;
  margin-right: 5px;
}

.cart-sec {
  width: 10%;
  text-align: center;
}

.cart-sec img {
  width: 15%;
  margin: 0% 3%;
}

/* ////////////// menu /////////////////// */

.menu {
  background-color: var(--light-black);
  display: flex;
  padding: 15px 40px;
}

.menu div {
  margin-right: 40px;
  color: white;
  border-bottom: 3px solid var(--light-black);
  cursor: pointer;
}

.menu div:hover {
  border-bottom: 3px solid rgb(255, 81, 139);
}

/* //////////////// position //////////////// */

.position {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* //////////////// item ///////////////// */

.item {
  text-align: center;
  background-color: white;
  padding: 0px 50px;
  width: 250px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item p {
  font-size: small;
  margin-bottom: 30px;
}

.item button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

/* /////////// slider ///////////////// */

.slider img {
  width: 100%;
}

/* /////////////////// bestseller ///////////////////// */

.bestseller {
  background-color: #06035e;
  padding: 30px 0px 60px 0px;
  margin-top: 50px;
}

.bestseller h3 {
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.bestseller-item-sec {
  display: flex;
  justify-content: space-around;
}

.bestseller-item-sec > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bestseller-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.arrow-button {
  color: var(--pink);
  font-weight: bold;
  font-size:x-large;
  border-radius: 50%;
  padding: 0px 7px;
  background-color: white;
  border: none;
  cursor: pointer;
}

/* /////////////////// hot deals ///////////////////// */

.hot-deal {
  padding: 30px 0px 60px 0px;
  margin-top: 50px;
}

.hot-deal h3 {
  margin-bottom: 30px;
  text-align: center;
}

.hot-deal-item {
  display: flex;
  justify-content: space-evenly;
}

.hot-deal-item img {
  width: 30%;
  border-radius: 10px;
}

/* /////////////////// just-in ///////////////////// */

.just-in {
  padding: 30px 0px 60px 0px;
}

.just-in h3 {
  margin-bottom: 30px;
  text-align: center;
}

.just-in-item-sec {
  display: flex;
  justify-content: space-around;
}

.just-in-item-sec > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.just-in-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.arrow-button {
  color: var(--pink);
  font-weight: bold;
  font-size:x-large;
  border-radius: 50%;
  padding: 0px 7px;
  background-color: rgb(202, 202, 255);
  border: none;
  cursor: pointer;
}

/* /////////////////// banner ///////////////////// */

.banner {
  padding: 30px 0px 60px 0px;
}

.banner h3 {
  margin-bottom: 30px;
  text-align: center;
}

.banner-item {
  display: flex;
  justify-content: center;
}

.banner-item img {
  width: 80%;
  border-radius: 10px;
}

/* /////////////////// top pics ///////////////////// */

.top-pics {
  padding: 30px 0px 60px 0px;
}

.top-pics h3 {
  margin-bottom: 30px;
  text-align: center;
}

.top-pics-item {
  display: flex;
  justify-content: space-evenly;
}

.top-pics-item img {
  width: 30%;
  border-radius: 10px;
}

/* /////////////////// buy-now ///////////////////// */

.buy-now {
  padding: 30px 0px 60px 0px;
}

.buy-now h3 {
  margin-bottom: 30px;
  text-align: center;
}

.buy-now-item-sec {
  display: flex;
  justify-content: space-around;
}

.buy-now-item-sec > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buy-now-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.arrow-button {
  color: var(--pink);
  font-weight: bold;
  font-size:x-large;
  border-radius: 50%;
  padding: 0px 7px;
  background-color: rgb(202, 202, 255);
  border: none;
  cursor: pointer;
}

/* /////////////////// refer ///////////////////// */

.refer {
  padding: 30px 0px 60px 0px;
}

.refer h3 {
  margin-bottom: 30px;
  text-align: center;
}

.refer-item {
  display: flex;
  justify-content: center;
}

.refer-item img {
  width: 95%;
  border-radius: 10px;
}

/* /////////////////// touch sec ///////////////////// */

.touch {
  padding: 30px 0px 60px 0px;
}

.touch h3 {
  margin-bottom: 20px;
  text-align: center;
}

.touch p {
  margin-bottom: 20px;
  text-align: center;
}

.touch div {
  text-align: center;
}

.touch input {
  width: 40%;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid gray;
  outline: none;
}

.touch button {
  padding: 10px 20px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* ////////////// footer /////////////////// */

.footer {
  background-color: black;
}

.footer-logo {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-links > div {
  background-color: gray;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.social-links > div:hover {
  background-color: white;
  cursor: pointer;
}

.social-links > div > img {
  width: 100%;
}

.footer-menu {
  text-align: center;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  width: 80%;
  margin: auto;
  padding: 20px 0px;
}

.footer-menu a {
  color: white;
  font-weight: bold;
  margin: 30px;
  text-decoration: none;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.copyright {
  color: white;
  text-align: center;
  padding: 20px 0px;
}

/* /////////////// makeup //////////////// */

.product-sec {
  display: flex;
  justify-content: space-around;
  padding: 3%
}

.poster {
  text-align: center;
  padding: 5px 0px 2px 0px;
}

.poster img {
  width: 70%;
}

.sort-sec {
  width: 24%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  height: 250px;
}

.sort-sec > h4 {
  text-align: center;
}

.sort-sec > button {
  width: 100%;
  padding: 10px 0px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid gray;
  margin-top: 20px;
  cursor: pointer;
  background-color: lavender;
}

.item-sec {
  width: 72%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 40px;
}

/* /////////////// cart //////////////// */

.cart {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

.cart h3 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-summary {
  width: 48%;
  border-bottom: 1px solid rgb(177, 177, 187);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(177, 177, 187);
  padding: 8px;
}

.cart-item > div {
  display: flex;
}

.image-sec {
  width: 10%;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.image-sec > img {
  width: 100%;
  border-radius: 5px;
}

.name {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 15px;
}

.price {
  font-weight: bold;
}

.quantity-sec {
  display: flex;
  align-items: center;
}

.quantity-sec > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.button-sec {
  display: flex;
  align-items: center;
  border: 1px solid rgb(177, 177, 187);
  border-radius: 10px;
  padding: 8px;
}

.button-sec > button {
  font-size: larger;
  cursor: pointer;
  background: transparent;
  border: none;
  margin: 0px 10px;
}



.price-details {
  width: 48%;
  border-bottom: 1px solid rgb(177, 177, 187);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 340px;
}

.total-frame {
  border: 1px solid rgb(177, 177, 187);
  border-radius: 10px;
  padding: 20px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

hr {
  border-top: 1px dashed gray;
  margin-top: 15px;
  margin-bottom: 15px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: x-large;
  font-weight: bold;
}

.order-button {
  text-align: right;
  margin-top: 20px;
  
}

.order-button > button {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 10px 50px;
  font-size: large;
  cursor: pointer;
}

/* /////////////////// address //////////////////// */

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.left-sec {
  width: 65%;
  padding: 50px 20px;
  background-color: white;
}

.delivery-sec {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.delivery-sec > img {
  width: 25px;
  margin-right: 10px;
}

.delivery-sec > span {
  font-size: large;
  font-weight: bold;
}

.input-sec {
  margin-bottom: 20px;
}

#email,
#address {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
}

#firstName,
#lastName,
#postalCode,
#phone {
  width: 47%;
  padding: 10px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
}

.name,
.contact {
  display: flex;
  justify-content: space-between;
}

.left-button {
  width: 300px;
  margin: auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* //////////////////// checkout ////////////////// */

.logo {
  padding: 30px;
}

.logo > img {
  width: 150px;
}

.checkout-sec {
  width: 500px;
  margin: auto;
  
}

.checkout-sec > h3 {
  text-align: center;
  margin-bottom: 20px;
}

.password-sec {
  width: 100%;
  background-color: white;
  text-align: center;
  margin-bottom: 120px;
  border-radius: 10px;
}

.password-sec > input[type="text"] {
  width: 45px;
  padding: 5px 10px;
  text-align: center;
  margin: 0px 10px;
  outline: none;
  font-size: 20px;
  margin-top: 50px;
  background-color: lavender;
  border: 1px solid gray;
  border-radius: 5px;
}

.password-sec > input[type="submit"] {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
}

.successful {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.successful > h3 {
  margin-bottom: 20px;
}